@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*:after {
  box-sizing: border-box;
}


body {
  grid-template-columns: auto 0px;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  width: 100%;
  font-weight: 200;
  background-color: #302e2a;
  box-sizing: border-box; 
}
p{
  line-height: 19.5px;
}

.top {
  position: sticky;
  bottom: 4.5%;
  margin-left: 95%;
  --offset: 300px;
  margin-top: calc(140vh + var(--offset));
  transition: 0.2s ease;
}

.top img {
  width: 45px;
  height: auto;
}

.top img:hover {
  content: url(../images/backtotophover.png);
}
.fontlighter {
  font-weight: 200;
}
.fontlight {
  font-weight: 300;
  color: rgb(40, 40, 40);
}
.flex {
  display: flex;
  align-items: center;
}

.button {
  padding: 0.7rem 1rem 0.7rem 1.2rem;
  border-radius: 10rem 0 0 10rem;
  background-color: transparent;
  color: white;
  margin-top: 0rem;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 14px;
}

.button:hover {
  color: black;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ffe1af;
  z-index: -1;
  border-radius: 10rem 0 0 10rem;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: bottom right;
  transition: transform 100ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.button:hover::after {
  transform: scale(1, 1);
  transform-origin: bottom right;
}
.icons{
  font-size:2.6rem;
  cursor: pointer;
  position: relative;
  top:6px;
  display: none;
}

.headerhome {
  background-color: #302e2a;
  box-shadow: 0 1px 20px #131313;
  width: 100%;
  position: absolute;


}

.headersombra2 {
  box-shadow: 0 1px 18px #646463;
}
nav {
  display: flex;
 align-items: center;
  position: relative;
  justify-content: space-between;
 
  padding:0.8rem 1.4rem 0.8rem 1.4rem;

}

.menu{
  position: absolute;
right: -10025px;
top: 15px;
  color: white;
  cursor: pointer;
  width: 2rem;

}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

.lihover {
  width: 10.4rem;
  text-align: center;
  font-size: 14px;
}

nav ul a {
  color: white;
 
  text-decoration: none;
}

nav div h2 {
  min-width: 7rem;
}

.boldhover:hover {
  font-weight: 500;
  color: rgb(255, 255, 255);
}
nav h2 {
  font-size: 14px;
  color: white;
  padding: 0.4rem 0.2rem 0.2rem;
  margin: 0;
}


#logo {
  width: 2.5rem;
  margin-right: 0.8rem;
}

/* newsection curva top */

.fontheavy {
  font-weight: 700;
}
.fontmedium5 {
  font-weight: 500;
  text-decoration: none;
}
.fontmedium4 {
  font-weight: 400;
  text-decoration: none;
}

#landing {
  height: 100lvh;
  background: linear-gradient(rgba(10, 10, 9, 0.6), rgba(32, 32, 32, 0)),
  url(../images/fondoquizas.jpg);

  background-size: cover;
  background-position: center;

  background-color: #302e2a;
  display: flex;
  height: 100vh;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
#wrapper {
  box-sizing: content-box;
  display: flex;
  height: 30px;
  padding-bottom: 2px;
 
}
#wrapper span {
  font-size: 25px;
  display: block;
  height: 100%;
  padding-left: 9px;

  color: white;
  animation: spin_words 5s infinite;

  font-weight: 500;
}
.words {
  overflow: hidden;
}
@keyframes spin_words {
  10%,
  20%,
  30% {
    transform: translateY(-34px);
  }
  40%,
  50%,
  60% {
    transform: translateY(-64px);
  }
  70%,
  100% {
    transform: translateY(-94px);
  }
}

.landingtitle {
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  text-align: center;
  font-size: 25px;

  
}
#eslogan{
  position: relative;
  width: 100%;
  top:20rem;
}


/*
ACORDEON ul.acordeon,
ul.acordeon {
  margin: 0;
  padding: 0;
  border: 0;
}
ul.acordeon {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  width: 100%;
  font-size: 18px;
}
ul.acordeon li {
  list-style: none;
}
ul.acordeon li a {
  display: block;
  padding: 10px 10px 10px 20px;
  background: #333;
  color: #eee;
  border-bottom: 1px solid #000;
  border-top: 1px solid #666;
  text-decoration: none;
  box-sizing: border-box;
}
ul.acordeon li ul {
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: 0.3s all ease-in;
}
ul.acordeon li li a {
  padding: 10px 10px 10px 40px;
  background: #999;
  color: #000;
  font-size: ;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
ul.acorc li li:last-child a {
  border-bottom: 0;
}
ul.acordeon li:hover ul {
  max-height: 300px;
  transition: 0.3s all ease-in;
}
ul.acordeon li a:hover {
  background: #666;
  color: #fff;
}

ul {
  list-style: none;
}
.lipadre {
  background-color: #fff;
  width: 60px;
  padding: 0.5rem 1.7rem 0.5rem 1.7rem;
  border-radius: 0 0 20px 20px;
  text-align: center;
}

.acordeon {
  display: block;
  display: flex;
}
.lipadre {
  display: flex;
  flex-direction: column;
}
*/




/*a section*/
.custom-shape-divider-bottom-1698104621 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #EB8C88;

}

.custom-shape-divider-bottom-1698104621 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1698104621 .shape-fill {
  fill: #ffffff;
}
/*curva base*/

#actividades {
  padding: 15rem 5rem 8rem 5rem;
  background-image: url(../images/gradienteacts.jpg);
  background-size: cover;
  background-position: center;

}

#loquehayysol {
  display: flex;
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
#loquehayysol h2 {
  width: 15rem;
}

#dedia {

  width: 20rem;
  height: 20rem;
}
#denoche {

  width: 20rem;
  height: 20rem;
}

#contenedoract {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}

.padreact {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 10rem;
  text-align: center;
  transition: all 0.5s;
}

.padreact2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 10rem;
  text-align: center;
  transition: all 0.5s;
}

.nombreact {
  font-size: 20px;
  margin: 15px;
  gap: 15px;
}

.horarios {
  margin-top: -3px;
  font-size: 15px;
  align-items: center;
}


.hidden{
  display: none;
}
.show{
  display: block;
}

/*carrousel

.card {
  background-color: transparent;
  border: none;
}

.redondeate{
  border-radius: 10rem;
  width: 18rem;
}



new sectioon*/


.textoentradados {
  font-size: 1.5rem;
  margin-top: -0.1rem;
  text-align: center;
}

.papafotoentrada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 18rem;
  align-items: center;
}

.hoversorteo:hover {
  font-weight: 500;
}
.papafotoentrada h2 {
  font-size: 1rem;
  text-align: left;
  margin-top: 15px;
}
.papafotoentrada h3 {
  font-size: 1rem;
  text-align: left;
  margin-top: -5px;
}
.papafotoentrada p {
  text-align: left;
  font-size: 1rem;
  margin-top: 5px;
}
.fotoentrada {
  width: 18rem;
  height: auto;
  border-radius: 3rem;
  margin-bottom: 0.5rem;
}
.descripcionentradas {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.button5 {
  display: inline-block;
  margin: 1.3rem 0 -8rem 0;
  padding: 0.8rem 1.4rem;
  border-radius: 10rem;
  background-color: #302e2a;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 15px;
  width: 10rem;
  text-align: center;
}

.button5:hover {
  color: white;
}

.button5::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e66590;
  z-index: -1;
  border-radius: 10rem;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: top right;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.button5:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}
 

#entradasgrande {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem 9rem 6rem;
  background-color: #fff;
}

#entradaschico {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  margin-top: 2rem;
  gap: 5rem;
}
#avisogracioso {
  background-color: #e56e95;
  display: flex;
  color: white;

  width: 17rem;
  height: 7rem;
  padding: 0 1rem 0 1rem;
  gap: 1rem;
  border-radius: 4rem;
  text-align: center;
  position: absolute;
  right: -14rem;
  top: 120rem;
  transition: all 1.0s;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

#avisogracioso a {
  color: white;
}


#avisogracioso:hover {
  right: -4rem;
}
#avisogracioso h2 {
  width: 10rem;
  font-size: 0.8rem;
}
#avisogracioso a {
  color: black;
}

/*NEW SECTION EVERYONE*/
.bigheading {
  font-size: 60px;
  font-weight: 900;
  color: rgb(40, 40, 40);
  margin: 0;
  text-align: left;
}
.averageparagraph {
  font-size: 19px;
  color: rgb(40, 40, 40);

  font-weight: 200;
  text-align: left;
  margin: 0;
  
}
.averagecenteredparagraph {
  font-size: 18px;
  color: rgb(40, 40, 40);

  font-weight: 200;
  text-align: center;
  margin: 0;
}

.idratherbewhite {
  color: white;
}

.tinyfont {
  font-size: 15px;
}

.nowrap {
  white-space: nowrap;
}



.button2 {
  display: inline-block;
  margin: 1rem;
  padding: 0.7rem 1.4rem;
  border-radius: 10rem;
  background-color: white;
  color: rgb(40, 40, 40);
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 15px;
}

.button2:hover {
  color: white;
}

.button2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #30302c;
  z-index: -1;
  border-radius: 10rem;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: top right;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.button2:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}
.custom-shape-divider-top-1697459810 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1697459810 svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1697459810 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1697459810 svg {
    width: calc(268% + 1.3px);
    height: 86px;
  }
}
.custom-shape-divider-bottom-1697458987 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1697458987 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 135px;
}

.custom-shape-divider-bottom-1697458987 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1697458987 svg {
    width: calc(268% + 1.3px);
    height: 85px;
  }
}
.line-height{
line-height:23px;
}
#artistas {
  background-image: url(../images/bg2.png);
  background-size: cover;
  background-position: center;
  padding: 9rem 5rem 10rem 5rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  text-align: center;
  gap: 3.8rem;
  position: relative;
}

#firstarticle {
  display: flex;
  align-items: center;

  justify-content: center;
  max-width: 70%;
  width: 70%;
  gap: 9%;
}


#secondarticle {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  row-gap: 85px;
  max-width: 90%;
}
.soypadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
}
.soypadre h3{
  font-size: 1.2rem;
}
#secondarticle div img {
  height: auto;
  margin-top: 10px;
  width: 8rem;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: 0.2s ease-out;
}

#secondarticle div img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transform: scale(1.1);
}


/*A whole new section is born*/

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button3 {
  display: inline-block;
  margin: 0.4rem;
  padding: 0.6rem 1.4rem;
  border-radius: 10rem;
  border: #30302c solid 3.5px;

  color: rgb(40, 40, 40);
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 15px;
}

.button3:hover {
  color: white;
}

.button3::after {
  content: "";
  padding: 0.8rem 1.4rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #30302c;

  z-index: -1;
  border-radius: 10rem;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: top right;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.button3:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}

#mapita iframe {
  border-radius: 1.5rem;
  margin: 1.3rem;
}

/*NEEEEEEEEEEEEEEEEW SEC*/

.pink {
  color: #e66590;
  text-decoration: none;
}
.pink:hover {
  font-weight: normal;
}
.bigwhiteheading {
  font-size: 54px;
  font-weight: 900;
  color: white;
  margin: 0;

  text-align: center;
}

#mapita {
  height: fit-content;
  text-align: center;
  padding-bottom: 1.5rem;
  background-color: #fff;
}
/*NEEEEEEEEEEEEEEEEW SEC*/

.custom-shape-divider-bottom-1697474903 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1697474903 svg {
  position: relative;
  display: block;
  width: calc(281% + 1.3px);
  height: 140px;
}

.custom-shape-divider-bottom-1697474903 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-top-1697585947 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1697585947 svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 91px;
}

.custom-shape-divider-top-1697585947 .shape-fill {
  fill: #ffffff;
}

#vinito {
  margin: 0;
  position: relative;
  height: fit-content;
  padding: 9rem;
  background-image: url(../images/bgvinito.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  color: white;

  display: flex;
justify-content: center;
gap: 78px;
  align-items: center;
}

#vino {
  height: 45rem;
  width: auto;

  left: 80px;
  position: absolute;
}
#divmentiroso{
  width: 360px;
  height: 30px;
  color: transparent;

}

#vinodiv {
  text-align: center;
  align-items: center;

  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lostaninos {
  height: auto;
  margin-top: 10px;
  margin-left: 8px;
  width: 100px;
}

#vinito a {
  text-decoration: none;
}

#vinito a:hover {
  font-weight: 500;
}

/* brand new section */
.button4 {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
  padding: 0.7rem 1.4rem;
  border-radius: 10rem;
  background-color: rgb(40, 40, 40);
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 15px;
}

.button4:hover {
  color: white;
}

.button4::after {
  content: "";
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e66590;
  z-index: -1;
  border-radius: 10rem;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: top right;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.button4:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}
.notsobigaheading {
  font-size: 50px;
  font-weight: 900;
  color: rgb(40, 40, 40);
  margin: 0;
  text-align: left;
}

.idratherbecentered {
  text-align: center;
}

#organiza {
  padding: 3rem 3rem 4rem 3rem;
  display: flex;

  justify-content: center;
  background-color: #fff;
  gap: 8rem;
}
#art1 {
  max-width: 390px;
}
#art2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loguitogrande {
  width: 250px;
  filter: brightness(0%);
  height: auto;
  transition: 0.2s;
}

#loguitogrande:hover {
  filter: none;
}

#loguitoschicos {
  width: 250px;
  height: auto;
  margin-top: 7%;
}

/*new section my loves*/ /*:)*/
.bigcenteredheading {
  font-size: 60px;
  font-weight: 900;
  color: rgb(40, 40, 40);
  margin: 0;
  text-align: center;
}
#unite {
  padding: 4rem 2rem 4rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

#unite a {
  margin-top: 1.4rem;
}

#gradientegraciosa {
  width: 45%;

  padding: 2rem 2rem 1rem 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
  text-align: center;
  background-image: url(../images/gradienteunite.jpg);
}

/*momento footer*/
.custom-shape-divider-top-1697553616 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1697553616 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.9px);
  height: 110px;
}

.custom-shape-divider-top-1697553616 .shape-fill {
  fill: #ffffff;
}

.tinyheading {
  font-size: 39px;
  font-weight: 900;
  color: white;
  margin: 0;
  line-height: 2.6rem;
  text-align: left;
}
.tiniesttext {
  color: white;
  font-size: 12px;
}

.padding-bottom {
  padding-bottom: 2rem;
}

footer {
  height: fit-content;
  padding: 9rem 12rem 0rem 12rem;
  background-color: #302e2a;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer img {
  width: auto;
  height: 2rem;
  margin: 5px;
}

footer h5 {
  font-size: 15px;
  font-weight: 00;
  color: white;
  margin: 0;
  text-align: left;
}
footer p{
  line-height: 10px;
}
footer a {
  text-decoration: none;
  color: white;

  min-width: 4rem;
}
#festival{
  font-weight: 600;
  margin-bottom: 0.9rem;

}
#primerofooter {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
}
footer p {
  transition: 0.1s;
}
footer p:hover {
  color: #e66590;
}

#segundofooter {
  width: 50%;
  display: flex;
  gap: 3.3rem;
}

#divtexto {
  line-height: 1.6rem;
}

#divlogos {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}



#tinydivwithlogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#logoins:hover {
  content: url(../images/logoinsrosa.png);
}
#logoface:hover {
  content: url(../images/logofacerosa.png);
}

#logoyt:hover {
  content: url(../images/logoytrosa.png);
}
#logotwit:hover {
  content: url(../images/logotwitrosa.png);
}

/*secciones internas a partir de este momentO*/



/*form comprar*/

a {
  text-decoration: none;
}
form ::placeholder {
  color: black;
}

.formmain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 4rem 0rem 4rem 0rem;
}

.titulof {
  text-align: center;
  width: 10rem;
  margin-bottom: 0.5rem;
}

.padreorden {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

.orden {
  border-radius: 10rem;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uno {
  background-color: #e66590;
  color: white;
}
.dos {
  background-color: white;
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input1 {
  width: 15rem;
  height: 2rem;
  /*border-radius: 10rem;*/
  border: 0;
  background-color: white;
}
.select1 {
  width: 15rem;
  height: 2rem;
  border-radius: 10rem;
  border: 0;
  background-color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input1 {
  width: 15rem;
  height: 2rem;
  border-radius: 1rem;
  border: 0;
  background-color: white;
}
.select1 {
  width: 15rem;
  height: 2rem;
  border-radius: 10rem;
  border: 0;
  background-color: white;
}

#padrecantentradas {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#padretic {
  display: flex;
}
#tic {
  width: 20px;
  height: 20px;
}

.padrebotonesf {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padrebotonesf a {
  margin-left: -1rem;
}
.info {
  font-weight: 100;
  margin-left: 1rem;
  margin-top: 3%;
  font-size: 0.8rem;
}
.buttonf {
  display: inline-block;
  margin: 1rem;
  padding: 0.7rem 1.4rem;
  border-radius: 10rem;
  background-color: white;
  color: rgb(40, 40, 40);
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 15px;
}

.buttonf:hover {
  color: white;
}

.buttonf::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e66590;
  z-index: -1;
  border-radius: 10rem;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: bottom right;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.buttonf:hover::after {
  transform: scale(1, 1);
  transform-origin: bottom right;
}
.buttondosf {
  display: inline-block;
  margin: 1rem;
  padding: 0.7rem 1.4rem;
  border-radius: 10rem;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 15px;
}

.buttondosf:hover {
  color: white;
}

.buttondosf::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e66590;
  z-index: -1;
  border-radius: 10rem;
  transition: 0.3s ease all;
  transform: scale(0, 1);

  transform-origin: top left;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.buttondosf:hover::after {
  transform: scale(1, 1);
  transform-origin: top left;
}

/*form gracias*/

.fondof {
  background-image: url(../images/fondoacts.jpg);
  background-position: center;
  background-size: cover;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gracias {
  color: white;
  text-align: center;
  width: 20rem;
}
.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px 0px 0px 25px;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 0.8s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -5px, -12px 5px,  14px 5px;
  }
  33% {
    box-shadow: -38px 5px, -12px 5px,  14px 5px;
  }
  66% {
    box-shadow: -38px 5px, -12px -5px, 14px 5px;
  }
  100% {
    box-shadow: -38px 5px, -12px 5px, 14px -5px;
  }
}


/* forma parte */

#abueloformaparte {
  background-color: #fff;
  height: fit-content;
  padding: 8rem 5rem 5rem 5rem;
}
#padreformaparte {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

#divimagen {
  background-image: url(../images/unitefoto.png);
  background-size: cover;
  background-position: center;
  margin-top: 0.2rem;
  height: 16rem;
  width: 25rem;
  border-radius: 2rem;
}
#hijoformaparte {
  display: flex;
  flex-direction: column;
  width: 18rem;
  gap: 1rem;
}
.youarehere{
  text-decoration: 0.1rem underline white;
  text-underline-offset: 5px;
}
.tighter {
  line-height: 3.9rem;
}

.padreburbuja {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.padreburbuja p {
  width: 25rem;
}

.hijoburbuja h2 {
  width: 28rem;
  font-size: 19px;
  margin-bottom: 0.4rem;
  text-align: left;
}

.formunite {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: left;
}
.formunite h2 {
  font-size: 19px;
  margin-bottom: -1rem;
}
.formunite h3 {
  font-size: 19px;
  margin-bottom: -0.5rem;
}

.inputunite {
  width: 25rem;
  height: 8rem;
  border-radius: 1rem;
  border: 1 black;
  background-color: white;
}
.inputunite2 {
  width: 25rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1 black;
  background-color: white;
}

/*Jardín botánico*/
.notsobigaheadingcentered {
  font-size: 50px;
  font-weight: 900;
  color: rgb(40, 40, 40);
  margin: 0;
  text-align: center;
}
.tinierheading {
  font-size: 45px;
  font-weight: 900;
  color: rgb(40, 40, 40);
  margin: 0;
}
#abuelojardin {
  background-color: #ffffff;
  height: fit-content;
  padding: 10rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

}

#abuelojardin img {
  width: 52rem;
  border-radius: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#abuelojardin p {
  width: 53rem;
  margin: 0.1rem 0 0.2rem 0;
}
#abuelojardin h2 {
  margin: -0.5rem 0 0.2rem 0;
}

/*Artistas interna section*/

#section1{
  background-color: #fff;
  height: fit-content;
  padding: 11rem 9rem 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide {
  height: 320px;
  max-width: 500px;
  
  overflow: hidden;
}


.overlay {
  position: absolute;
  top: 0;
 
  left: 0;
  width: 100%;
  height: 89.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 11px;
  display: flex;
}
.portaartistas:hover .overlay {
  background-color: rgba(40, 40, 40, 0.886);
  opacity: 1;
}
.imagetext {
  color: white;
  font-size: 18px;
  width: 340px;
  font-weight: lighter;
  text-align: center;
  padding: 20px;
}

.slide {
  position: relative;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.245);
  margin-top: 26px;
  padding: 55px 80px 55px 80px;
  border-radius: 10px;
}
.slide-inner {
  position: relative;

  width: 100%;
  height: calc(300px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.slide-item img {
  display: block;
 min-width: 350px;
  max-width: 100%;
  height: auto;
  width: 650px;
  border-radius: 11px;
}
.slide-control {
  border-radius: 50%;
  color: #262626;
  cursor: pointer;
  display: none;
  font-size: 35px;
  height: 64px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  left: 103%;

  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: -13%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5,
#slide-6:checked ~ .control-6,
#slide-7:checked ~ .control-7,
#slide-8:checked ~ .control-8 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 92.3%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 2px;
}
.slide-circulo {
  color: rgb(221, 218, 218);
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-7:checked ~ .control-6 ~ .slide-indicador li:nth-child(6) .slide-circulo,
#slide-6:checked ~ .control-5 ~ .slide-indicador li:nth-child(5) .slide-circulo,
#slide-5:checked ~ .control-4 ~ .slide-indicador li:nth-child(4) .slide-circulo ,
#slide-2:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-3:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-4:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
  color: #4e4e4e;
}
#internaartistas {
  background-color: #fff;
  padding: 6rem;
}


/*lasmedias*/ /*si escribis abajo te mato*/







@media (max-width: 1500px) {
  #vinito {
    
  gap: 50px;
    align-items: center;
    padding-bottom:11rem;
  }
  
  #vino {
    height: 45rem;
    left: 36px;
    top: 50px;
  }
  #avisogracioso{
    top: 120rem;
  }

}

@media (max-width: 1300px) {
  #avisogracioso{
    top: 120rem;
  }
  #vinito {
    
    gap: 56px;
      align-items: center;
    }
    
    #vino {
      height: 40rem;
      left: 3px;
      top: 90px;
    }
   
}

@media (max-width: 1100px) {
  #avisogracioso{
    top: 140rem;
  }
  #firstarticle {
    flex-wrap: wrap;
  }

  .custom-shape-divider-bottom-1698104621 svg {
    position: relative;
    display: block;
    width: calc(100% + 10px);
    height: 32px;
  }
    
    #vino {
      display: none;
    }
    #divmentiroso{
      display: none;
    }
    #vinodiv{
      width: 450px;
    }
}
@media (max-width: 1190px) {
  .top {
    bottom: 5.5%;
    margin-left: 92%;
  }
  .navbar{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  }
}
@media (max-width: 1090px) {
  #avisogracioso{
    top: 150rem;
  }
  .menu{
    right: 25px;
    top: 15px;
  }
  nav ul{
    display: none;
  }
  #abuelojardin img {
    width: 46rem;
    border-radius: 1.8rem;
    margin-top: 0.3rem;
  }
  #abuelojardin p {
    width: 43rem;
  }
  .tinierheading {
    font-size: 40px;
  }

  .burbuja1y3,
  .burbuja2 {
    width: 300px;
  }

  .padreburbuja:not(#elformdiv) {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 2rem;
  }
  .padreburbuja p {
    width: 29rem;
  }

  .hijoburbuja h2 {
    width: 21rem;
    font-size: 19px;
    margin-bottom: 0.4rem;
    text-align: left;
  }
  .slide {
    height: 260px;
    max-width: 400px;

  }
  .slide-indicador {
    top:74.2%;
  }
  .overlay {
    height: 71.5%;
  }
  .slide-control {
     height: 130px;
}
@media (max-width: 900px) {
  #avisogracioso{
    top: 175rem;
  }
  .top {
    bottom: 5.5%;
    margin-left: 90%;
  }
  .custom-shape-divider-top-1697585947 svg {
    width: calc(260% + 1.6px);
  }
  #mapita iframe {
    width: 70%;
    height: auto;
  }
  #mapita {
    padding: 2.2rem;
  }
  .bigheading {
    font-size: 50px;
  }
  footer {
    padding: 8rem 1rem 1rem 5rem;
  }
  footer h2 {
    display: none;
  }
  footer img {
    margin: 2px;
  }

  #primerofooter {
    width: 100%;

    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #tinydivwithlogos {
    display: block;
    margin-bottom: 39px;

  }
  #segundofooter {
    margin-top:10px;

  }
  #segundofooter p{
    line-height: 14px;
  }
  #abueloformaparte img {
    height: rem;
    border-radius: 1rem;
  }
  #abuelojardin img {
    width: 40rem;
    border-radius: 1.8rem;
    margin-top: 0.3rem;
  }
  #abuelojardin p {
    width: 39rem;
  }
  .tighter {
    line-height: 3.3rem;
  }
  #padreformaparte {
    margin-bottom: 2rem;
  }
  #hijoformaparte {
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: 0.2rem;
  }
  #abueloformaparte {
    padding-top: 9.5rem;
  }
  .burbuja1y3,
  .burbuja2 {
    width: 200px;
  }

  .padreburbuja:not(#elformdiv) {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 2rem;
  }

}
@media (max-width: 850px) {
  
.slide {
  height: 240px;
  max-width: 340px;

}
.slide-indicador {
  top:66%;
}
.overlay {
  display: none;
}
.slide-control {
   height: 180px;
}

}
@media (max-width: 800px) {
  #avisogracioso{
    top: 230rem;
  }
  .top {
    bottom: 4%;
    margin-left: 200%;
  }

  #loguitogrande {
    width: 200px;
    filter: brightness(0%);
    height: auto;
    transition: 0.2s;
  }

  #loguitoschicos {
    width: 200px;
    height: auto;
  }
  #abuelojardin img {
    width: 36rem;
    border-radius: 1.7rem;
    margin-top: 0.3rem;
  }
  #abuelojardin p {
    width: 40rem;
  }

  #abuelojardin p {
    width: 36rem;
  }
  .burbuja1y3,
  .burbuja2 {
    width: 150px;
    padding:0;
  }
  .padreburbuja {
    gap: 1.5rem;
  }

  .padreburbuja p {
    width: 26rem;
  }
 

  .inputunite {
    width: 20rem;
  }
  .inputunite2 {
    width: 20rem;
  }
 


}
@media (max-width: 720px) {
  #organiza {
    display: flex;

    gap: 4rem;
  }

  #unite {
    padding: 1rem 2rem 1rem 2rem;
  }
}
@media (max-width: 685px) {
  #secondarticle div img {
    height: auto;
    width: 15rem;
  }
  #secondarticle {
    row-gap: 30px;
  }
  #abuelojardin img {
    width: 30rem;
    border-radius: 1.8rem;
    margin-top: 0.3rem;
  }
  #abuelojardin p {
    width: 26rem;
  }
  .inputunite, .inputunite2 {
    width: 15rem;
    margin-right:30px;
  }
  #gradientegraciosa {
    width: 60%;}

  .padreburbuja p {
    width: 21rem;
  }
}
@media (max-width: 594px) {

  #loguitogrande {
    display: none;
  }

  #loguitoschicos {
    display: none;
  }

  .custom-shape-divider-bottom-1698104621 svg {
    position: relative;
    display: block;
    width: calc(90% + 900px);
    height: 32px;
  }
  #abuelojardin img {
    width: 25rem;
    border-radius: 1.8rem;
    margin-top: 0.3rem;
  }
  #abuelojardin p {
    width: 22rem;
  }
  #padreformaparte {
    flex-direction: column;

    gap: 1.2rem;
  }
  #divimagen {
    width: 24rem;
  }
  #hijoformaparte {
    width: 25rem;
  }
  #abueloformaparte {
    padding-top: 12rem;
  }
  .padreburbuja p {
    width: 13rem;
  }
  .burbuja1y3 {
    width: 150px;  
  padding-left:30px;}
    .burbuja2{
      padding-right:20px;
    }
    .padreburbuja h2, h3{
      width: 14rem;
    }
}
@media (max-width: 570px) {
}

/*media del carrousel*/
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

}